.slides > article {
  padding: 60px 40px !important;
}

.slides.template-ku > article.first {
  background: url(img/ku-frontpage.png) 0 0 no-repeat;
  background-color: white;
}

.slides.template-ku > article:not(.nobackground):not(.first) {
  background: url(img/ku-topbar.png) 0 0 no-repeat white;
}

.slides.template-ku > article h1 small {
  color: #666666;
}

.slides.template-ku > article h3 {
  color: #933027;
}
